<style>
  .highlight {
    background-color: yellow;
    padding: 10px;
    border: 1px solid black;
  }
</style>

<div class="container py-4">
  <h2 class="mb-3">
    Liste des événements
    <a routerLink="/events/create" class="btn btn-primary mb-4"
      >Créer un nouvel événement</a
    >
  </h2>

  <!-- Recherche -->
  <input
    id="search"
    type="text"
    class="form-control mb-4"
    placeholder="Rechercher un événement"
    (input)="filter()"
  />

  <div class="row g-3">
    @for (event of events; track $index) {
    <app-event-card
      (requested)="likeEvent(event)"
      [event]="event"
      class="col-md-3"
    ></app-event-card>
    }
  </div>
</div>
